@use 'sass:color';
@use 'variables' as *;

.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $cor-branco;
  color: $cor-texto;
  padding: 1rem;
  z-index: 10000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nome-principal {
  font-family: 'Fira Code', monospace;
  font-size: 1.6rem;
  font-weight: 600;
  color: $cor-accento;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;

  span {
    color: $cor-texto;
  }

  &:hover {
    color: $cor-texto;

    span {
      color: $cor-accento;
    }
  }
}

.menu-toggle {
  display: block !important; /* garante visibilidade em mobile/tablet */
  font-size: 2rem;
  background: none;
  border: none;
  color: $cor-texto;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: $cor-accento;
  }
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: $cor-branco;
  transition: left 0.3s ease;
  padding: 2rem 1rem;
  z-index: 1000;
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  font-family: 'Fira Code', monospace;
}

.side-menu li {
  margin: 1.5rem 0;
}

.side-menu a {
  color: $cor-texto;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  transition: color 0.3s ease;

  &:hover {
    color: $cor-accento;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 900;
}

.nav-desktop {
  display: none !important; /* esconde por padrão para mobile */
}

.nav-desktop ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0 2rem;
  padding: 0;
  font-size: 1.2rem;
  font-family: 'Fira Code', monospace;
}

.nav-desktop a {
  color: $cor-texto;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    color: $cor-accento;
  }
}

/* Media queries */

@media (max-width: 768px) {
  .menu-toggle {
    display: block !important;
  }

  .side-menu.open li > a {
    font-size: 1.2rem;
  }

  .nome-principal{
    font-size: 1.2rem;
  }

  .menu-toggle{
    font-size: 1.3rem;
  }

  .nav-desktop {
    display: none !important;
  }

  .side-menu,
  .backdrop {
    display: block !important;
  }

  .nome-principal span {
    color: $cor-accento !important;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none !important;
  }

  .nav-desktop {
    display: block !important;
  }

  .side-menu,
  .backdrop {
    display: none !important;
  }
}